@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --normal-background: rgb(231, 233, 240);
    --forms-background: rgb(245, 246, 250);
    --left-background: url(./photo-1585202900225-6d3ac20a6962.avif);
    --header-font: 'Quicksand', sans-serif;
    --paragraph-font: 'Ubuntu', sans-serif;
}
